<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>App requires speech recognition to convert your voice into text</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App needs microphone access to record your speech</string>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexSansArabic-Thin.ttf</string>
		<string>IBMPlexSansArabic-SemiBold.ttf</string>
		<string>IBMPlexSansArabic-Bold.ttf</string>
		<string>IBMPlexSansArabic-Medium.ttf</string>
		<string>IBMPlexSansArabic-Light.ttf</string>
		<string>IBMPlexSansArabic-ExtraLight</string>
		<string>IBMPlexSansArabic-Regular.ttf</string>
	</array>
</dict>
</plist>
